* {
	box-sizing: border-box;
	font-family: "Inconsolata", monospace;
}

body {
	display: flex;
	flex-direction: column;

	padding: 0;
	margin: 0;

	background-color: #222222;
	color: #efefef;
}

.footer {
	padding: 15px;
	text-align: center;

	.link {
		display: inline-block;

		padding: 5px 8px;
		background-color: #efefef;
		box-shadow: 0 0 8px #000000;
		border-radius: 15px;
		border: solid 1px transparent;

		font-size: 10px;
		color: #000000;
		text-decoration: none;

		transition: 200ms all;

		&:hover {
			background-color: #000000;
			color: #efefef;
			border: solid 1px #efefef;
		};
	}
}

#canvas {
	flex: 1;
}

.rune {
	display: flex;
	flex-direction: row;

	padding: 2px;
	border-bottom: solid 1px #333333;

	&:hover {
		background-color: #333333;
		border-bottom: solid 1px #efefef;
	}

	.symbol {
		display: inline-block;
		width: 48px;
		height: 48px;
		border: solid 2px #efefef;
		background-color: #333333;
		box-shadow: inset 0 0 5px #000;

		margin: 2px;

		.rune {
			width: 100%;
			height: 100%;

			&.logic {
				background-color: #B6DB40;
			}

			&.life {
				background-color: #1C8421;
			}

			&.air {
				background-color: #D5CDC7;
			}

			&.water {
				background-color: #4056DB;
			}

			&.fire {
				background-color: #B52700;
			}

			&.earth {
				background-color: #AE821B;
			}

			&.fusion {
				background-color: #EC60D3;
			}
		}
	}

	.description {
		display: flex;
		flex-direction: column;
		justify-content: center;

		flex: 1;
		padding: 5px;
		margin: 2px;

		.name {
			font-size: 14px;
		}

		.set-name {
			font-size: 12px;
			color: #a0a0a0;
		}
	}

	.rating {
		display: flex;
		flex-direction: column;
		justify-content: center;

		padding: 5px;
		margin: 2px;
		font-size: 16px;
	}
}

#overlay {
	display: none;
	justify-content: center;

	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	z-index: 99999999;
}

.rune-selector {
	display: flex;
	flex-direction: column;
	background-color: #222222;
	border: solid 1px #efefef;
	box-shadow: 0 0 10px #000000;

	padding: 15px;
	margin: 15px;

	.headline {
		text-align: center;
		font-size: 16px;
		border-bottom: solid 1px #666666;

		padding: 10px;
	}

	.body {
		overflow: auto;

		display: flex;
		flex-direction: column;

		.set {
			cursor: pointer;
			padding: 10px;
			border-bottom: solid 1px #333333;
			font-size: 14px;

			&:hover {
				background-color: #333333;
				border-bottom: solid 1px #efefef;
			}
		}

		.rune {
			cursor: pointer;
		}
	}
}

.item {
	display: inline-block;

	.headline {
		font-size: 14px;
		padding: 10px;
		border-bottom: solid 1px #666666;
		text-align: center;
	}

	.body {
		display: flex;
		flex-direction: row;

		.runes {
			flex: 1;
			border-right: solid 1px #333333;

			.rune {
				cursor: pointer;
			}

			.add {
				padding: 5px;
				text-align: center;
				cursor: pointer;

				&:hover {
					background-color: #333333;
				}
			}
		}

		.summary {
			flex: 1;
		}
	}
}

.summary {
	.property {
		display: flex;
		flex-direction: row;
		border-bottom: solid 1px #333333;

		.name, .value {
			padding: 5px 10px;
			font-size: 14px;
		}

		.name {
			flex: 1;
			text-align: left;
		}

		.value {
			text-align: center;
		}
	}
}

.root {
	.item-set {
		width: 50%;
		padding: 10px;

		.item {
			width: 100%;
			margin-bottom: 10px;
		}
	}

	.stat-overview {
		padding: 10px;
		position: fixed;
		top: 0;
		left: 50%;
		height: 100%;
		width: 50%;

		.headline {
			text-align: center;
			font-size: 14px;
			border-bottom: solid 1px #666666;

			padding: 10px;
		}
	}
}
